{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('modify_moneysource',source_id=source_id) }}">
      <h1>Muokkaa rahalähdettä</h1>
      <a href="{{ url_for('booking_index') }}">Palaa etusivulle</a>
      <hr />
      <table width="500" style="max-width:100%;">
            <tr>
                  <td colspan="2">
                        <hr />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.name.label }}
                  </td>
                  <td align="right">
                        {{ form.name }}
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.info.label }}
                  </td>
                  <td align="right">
                        {{ form.info }}
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="right">
                        <input type="submit" value="Muokkaa rahalähdettä" />
                  </td>
            </tr>
      </table>
</form>
{% endblock %}