<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Saldoseuraaja</title>
  <style>
    table {
      border-collapse: collapse;
      width: 80%;
    }

    th,
    td {
      padding: 4px;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head>

<body>
  {% if current_user.is_authenticated %}
  <table width=60% border="0">
    <tr>
      <td align="left" width="50%">Käyttäjä:
        <b>{{ current_user.name }}</b>
      </td>
      <td align="right">
        <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
      </td>
    </tr>
  </table>


  {% endif %} {% block body %}
  <p>
    Content.
  </p>
  {% endblock %}
</body>

</html>