<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Saldoseuraaja</title>
  <style>
    table {
      border-collapse: collapse;
      width: 80%;
    }

    th,
    td {
      padding: 4px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head >

      <body>
        {% if current_user.is_authenticated %}
  <p>
          Kirjautunut nimellä {{ current_user.name }}.
    <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
        </p>


        {% endif %} {% block body %}
  <p>
          Content.
  </p>
        {% endblock %}
      </body>

</html >