{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('add_transaction') }}">
      <h1>Lisää meno tai tulo</h1>
      <a href="{{ url_for('add_moneysource') }}">Lisää rahalähde</a>
      <br />
      <a href="{{ url_for('booking_index') }}">Palaa etusivulle</a>
      <hr />
      <table width="500" style="max-width:100%;">
            <tr>
                  <td colspan="2">
                        <hr />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.date.label }}
                  </td>
                  <td align="right">
                        {{ form.date }}
                        <br />
                  </td>
            </tr>
            <tr>
                  <td><label for="msource">Rahalähde</label></td>
                  <td align="right">
                        <select name="msource_dropdown" width="300px">
                              {% for source in sources %}
                              <option value="{{ source.ms_id_pk }}">
                                    {{ source.ms_name }}
                              </option>
                              {% endfor %}
                        </select>
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.amount.label }}
                  </td>
                  <td align="right">
                        {{ form.amount }}
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.is_expense.label }}
                  </td>
                  <td align="right">
                        {{ form.is_expense }}
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.participant.label }}
                  </td>
                  <td align="right">
                        {{ form.participant }}
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.info.label }}
                  </td>
                  <td align="right">
                        {{ form.info }}
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="center">
                        <font color="red">
                              {% for field, errors in form.errors.items() %}
                              <div class="alert alert-error">
                                    {{ form[field].label }}: {{ ', '.join(errors) }}
                              </div>
                              {% endfor %}
                        </font>
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="right">
                        <input type="submit" value="Lisää merkintä" />
                  </td>
            </tr>
      </table>
</form>
{% endblock %}