{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('modify_transaction',tr_id=tr_id) }}">
      <h1>Muokkaa menoa tai tuloa</h1>
      <table width="500" style="max-width:100%;">
            <tr>
                  <td colspan="2">
                        <hr />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.date.label }}
                  </td>
                  <td align="right">
                        {{ form.date }}
                        <br />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.amount.label }}
                  </td>
                  <td align="right">
                        {{ form.amount }}
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.is_expense.label }}
                  </td>
                  <td align="right">
                        {{ form.is_expense }}
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.participant.label }}
                  </td>
                  <td align="right">
                        {{ form.participant }}
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.info.label }}
                  </td>
                  <td align="right">
                        {{ form.info }}
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="center">
                        <font color="red">
                              {% for field, errors in form.errors.items() %}
                              <div class="alert alert-error">
                                    {{ form[field].label }}: {{ ', '.join(errors) }}
                              </div>
                              {% endfor %}
                        </font>
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="right">
                        <input type="submit" value="Muokkaa merkintää" />
                  </td>
            </tr>
      </table>
</form>
{% endblock %}