{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('modify_saldo',sa_id=sa_id) }}">
      <h1>Muokkaa menoa tai tuloa</h1>
      <table width="500" style="max-width:100%;">
            <tr>
                  <td colspan="2">
                        <hr />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.date.label }}
                  </td>
                  <td align="right">
                        {{ form.date }}
                        <br />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.amount.label }}
                  </td>
                  <td align="right">
                        {{ form.amount }}
                  </td>
            </tr>
            <tr>
                  <td>Rahalähde</td>
                  <td align="right">
                        <select name="msource_dropdown" width="300px">
                              {% for source in sources %} {% if ms_id == source.ms_id_pk %}
                              <option value="{{ source.ms_id_pk }}" SELECTED>
                                    {{ source.ms_name }}
                              </option>
                              {% else %}
                              <option value="{{ source.ms_id_pk }}">
                                    {{ source.ms_name }}
                              </option>
                              {% endif %} {% endfor %}
                        </select>
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="center">
                        <font color="red">
                              {% for field, errors in form.errors.items() %}
                              <div class="alert alert-error">
                                    {{ form[field].label }}: {{ ', '.join(errors) }}
                              </div>
                              {% endfor %}
                        </font>
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="right">
                        <input type="submit" value="Muokkaa merkintää" />
                  </td>
            </tr>
      </table>
</form>
{% endblock %}