{% extends "layout.html" %} {% block body %}

<h1>Käyttäjän saldot</h1>
<a href="{{ url_for('add_saldo') }}">Lisää saldo</a>
<br />
<a href="{{ url_for('booking_index') }}">Palaa etusivulle</a>
<hr />
<table border="1">
    <tr>
        <th>PVM</th>
        <th>SALDO</th>
        <th>RAHALÄHDE</th>
        <th colspan="2" align="center">
            Toimintoja
            <br /> {% with messages = get_flashed_messages() %} {% if messages %}
            <font color="green">
                <ul class=flashes>
                    {% for message in messages %}
                    <li>
                        <i>{{ message }}</i>
                    </li>
                    {% endfor %}
                </ul>
            </font>
            {% endif %} {% endwith %}
        </th>
    </tr>
    {% for source in sources %}
    <tr>
        <td align="center">{{ source.sa_date }}</td>
        <td align="center">{{ source.sa_amount }}</td>
        <td align="center">{{ source.ms_name }}</td>
        <td align="center">
            <form method="POST" action="{{ url_for('modify_saldo', sa_id=source.sa_id_pk) }}">
                <input type="submit" value="Muokkaa" />
            </form>
        </td>
        <td align="center">
            <form method="POST" OnClick="return confirm('Oletko varma että haluat poistaa saldon?')" action="{{ url_for('remove_saldo', sa_id=source.sa_id_pk) }}">
                <input type="submit" value="Poista" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}