{% extends "layout.html" %} {% block body %} 
<form method="POST" action="{{ url_for('auth_login') }}">
      <h1 class="text-info">Saldoseuraaja</h1>
      <table width="80%">
            <tr>
                  <td colspan="2">
                        <hr />
                  </td>
            </tr>
            <tr>
                  <td width="30%">
                        <span class="text-info">{{ form.username.label }}</span>
                  </td>
                  <td>
                        {{ form.username }}
                  </td>
            </tr>
            <tr>
                  <td>
                        <span class="text-info">{{ form.password.label }}</span>
                  </td>
                  <td>
                        {{ form.password }}
                  </td>
            </tr>
            <tr>
                  <td></td>
                  <td>
                        <input type="submit" value="Kirjaudu sisään" />
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="center">
                        <font color="red">{{ error }}</font>
                        <hr />
                  </td>
            </tr>
            <tr>
                  <td>
                        <span class="text-info">Uusi käyttäjä?</span>
                  </td>
                  <td>
                        <a class="text-success" href="{{ url_for('register') }}">Rekisteröidy</a>
                  </td>
            </tr>
            
</form>
{% endblock %}