{% extends "layout.html" %} {% block body %}

<table>
    <tr>
        <td valign="top">
            <h2>Toimintoja</h2>
            <a href="{{ url_for('edit_user') }}">Muuta käyttäjän tietoja</a>
            <br /><br />
            <a href="{{ url_for('moneysource') }}">Lisää rahalähteitä</a>
            <br />
            <a href="{{ url_for('add_transaction') }}">Lisää meno/tulo</a>
            <br />
            <a href="{{ url_for('saldo') }}">Lisää saldo</a>
            <br /><br />
            <a href="{{ url_for('budget') }}">Luo budjetti</a>
            <br /><br />
            <a href="{{ url_for('reporting', ms_id=0) }}">Raportti: menot ja tulot</a>
            <br />
            <a href="{{ url_for('reporting_saldo') }}">Raportti: Saldoseuraaja</a>
        </td>
        <td>
            <h2>Menot ja tulot</h2>
            <table>
                <tr>
                    <th>PVM</th>
                    <th>MÄÄRÄ (€)</th>
                    <th>RAHALÄHDE</th>
                    <th>KOHDE</th>
                    <th>LISÄTIETOJA</th>
                    <th colspan="2">TOIMINTOJA</th>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <td align="center">{{ transaction.tr_date }}</td>
                    <td align="center">{{ transaction.tr_amount }}</td>
                    <td align="center">{{ transaction.ms_name }}</td>
                    <td align="center">{{ transaction.tr_participant }}</td>
                    <td align="center">{{ transaction.tr_info }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('modify_transaction', tr_id=transaction.tr_id_pk) }}">
                            <input type="submit" value="Muokkaa" />
                        </form>
                    </td>
                    <td>
                        <form method="POST" OnClick="return confirm('Oletko varma että haluat poistaa merkinnän?')" action="{{ url_for('remove_transaction', tr_id=transaction.tr_id_pk) }}">
                            <input type="submit" value="Poista" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% endblock %}