{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('add_budget') }}">
      <h1>Lisää budjetti</h1>
      <a href="{{ url_for('budget') }}">Palaa budjettien pääsivulle</a>
      <hr />
      <table width="60%">
            <tr>
                  <td colspan="2">
                        <hr />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.bname.label }}
                  </td>
                  <td align="right">
                        {{ form.bname }}
                        <br />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.bamount.label }}
                  </td>
                  <td align="right">
                        {{ form.bamount }}
                  </td>
            </tr>
            <tr>
                  <td>Rahalähde</td>
                  <td align="right">
                        <select name="msource_dropdown" width="300px">
                              {% for source in sources %}
                              <option value="{{ source.ms_id_pk }}">
                                    {{ source.ms_name }}
                              </option>
                              {% endfor %}
                        </select>
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.bstart_date.label }}
                  </td>
                  <td align="right">
                        {{ form.bstart_date }}
                        <br />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.bend_date.label }}
                  </td>
                  <td align="right">
                        {{ form.bend_date }}
                  </td>
            </tr>
            <tr>
                        <td colspan="2" align="center">
                              <font color="red">
                                    <div class="alert alert-error">
                                          {% if form.errors %}
                                          <b>
                                                <u>Muista tarkistaa tiedot seuraavista kentistä!</u>
                                          </b>
                                          <br /> {% endif %} {% for field, errors in form.errors.items() %} {{ form[field].label }}
                                          <br /> {% endfor %}
                                    </div>
                              </font>
                        </td>
                  </tr>
            <tr>
                  <td colspan="2" align="right">
                        <input type="submit" value="Lisää merkintä" />
                  </td>
            </tr>
      </table>
</form>
{% endblock %}