{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('modify_budget',bu_id=bu_id) }}">
      <h1>Muokkaa menoa tai tuloa</h1>
      <a href="{{ url_for('budget') }}">Palaa saldo-yhteenvetoon</a>
      <hr />
      <table width="500" style="max-width:100%;">
            <tr>
                  <td colspan="2">
                        <hr />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.bname.label }}
                  </td>
                  <td align="right">
                        {{ form.bname }}
                        <br />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.bamount.label }}
                  </td>
                  <td align="right">
                        {{ form.bamount }}
                  </td>
            </tr>
            <tr>
                  <td>Rahalähde</td>
                  <td align="right">
                        <select name="msource_dropdown" width="300px">
                              {% for source in sources %}
                              <option value="{{ source.ms_id_pk }}">
                                    {{ source.ms_name }}
                              </option>
                              {% endfor %}
                        </select>
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.bstart_date.label }}
                  </td>
                  <td align="right">
                        {{ form.bstart_date }}
                        <br />
                  </td>
            </tr>
            <tr>
                  <td>
                        {{ form.bend_date.label }}
                  </td>
                  <td align="right">
                        {{ form.bend_date }}
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="center">
                        <font color="red">
                              <div class="alert alert-error">
                                    {% if form.errors %}
                                    <b>
                                          <u>Muista tarkistaa tiedot seuraavista kentistä!</u>
                                    </b>
                                    <br /> {% endif %} {% for field, errors in form.errors.items() %} {{ form[field].label }}
                                    <br /> {% endfor %}
                              </div>
                        </font>
                  </td>
            </tr>
            <tr>
                  <td colspan="2" align="right">
                        <input type="submit" value="Muokkaa budjettia" />
                  </td>
            </tr>
      </table>
</form>
{% endblock %}